[Unit]
Description=Bitcycles Server Daemon (FNM)
After=network.target

[Service]
Restart=on-failure
Environment=PORT=__PORT__ NODE_ENV=production DATA_DIR=__PATH__/data
WorkingDirectory=__PATH__/run
ExecStart=__HOME__/.local/share/fnm/fnm exec npm start
User=__USER__

[Install]
WantedBy=multi-user.target
