.dropdown {
  position: relative;
  display: inline-flex;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  margin-top: var(--size-tiny);

  flex-direction: column;
  row-gap: var(--size-tiny);

  min-width: 160px;

  border-radius: 6px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);

  background-color: var(--color-bg-hl);

  padding: var(--size-medium) var(--size-large);

  font-size: 1rem;
  font-weight: normal;

  z-index: 1;

  h1:first-of-type,
  h2:first-of-type,
  h3:first-of-type,
  h4:first-of-type {
    margin-top: 0px;
  }
}

.dropdown-content.bottom-end {
  right: 0;
}
